<!-- 	Loader-START 	-->
    <div id="loader-wrapper"></div>
    <!-- 	Loader-END 	-->

    <div id="content-block">

    <!-- Header-START -->
        <header>
            <div class="container">
            	<div class="row">
            		<div class="col-xs-12">
            			<!-- 	Header more info-START 	-->
						<div class="headerMoreInfo">
							<!--  	Phone block-START 	-->
							<div class="phoneBlock">
								<i class="flatIcon Fphone2"><%= image_tag("phone-call.png", :alt => "Contato") %></i>
								<p>Whatsapp</p>
								<h5 class="h5 as"><a><%= @settings.phone %></a></h5>
							</div>
							<!--  	Phone block-END 	-->
							<%#= link_to("Agendar", site_home_path(:anchor => "contato"), :class => "button btnSize1") %>
							<%= link_to "https://api.whatsapp.com/send?1=pt_BR&phone=55#{@whatsapp}", class:"button", :target => "_blank" do %>Agendar<% end %>
						</div>
						<!-- 	Header more info-END 	-->
						
						<div class="responsiveSrollWrapper">
							<!-- 	Header top-START 	-->
							<div class="headerTopInfo">
								<div class="headerTopInfoContaner">
									<!-- 	Logo-START 	-->
									<a href="#" class="logo">
										<%= image_tag @settings.picture.url(:medium) %>
									</a>
									<!-- 	Logo-END 	-->

									<!-- 	Responsive menu-START 	-->
									<div class="menuIcon"> 
										<span></span> 
										<span></span> 
										<span></span> 
										<span></span> 
									</div>
									<!-- 	Responsive menu-END 	-->
								</div>
							</div>
							<!-- 	Header top-END 	-->

							<!-- 	 Menu-START 	-->
							<div class="responsiveWrapper">
								<div class="navScroll">
									<nav>
										<ul>
											<li class="active"><%= link_to site_home_path do %>Início <% end %>
											<!--<i class="fa fa-angle-down"></i>
												<ul>
													<li><a href="index-3.html">Home Page 2</a></li>
													<li><a href="index-4.html">Home Page 3</a></li>
													<li><a href="index-5.html">Home Page 4</a></li>
													<li><a href="index-6.html">Home Page 5</a></li>
													</ul>-->
											
											</li>
											<li><%= link_to("SERVIÇOS", site_home_path(:anchor => "services")) %>
												<!--<i class="fa fa-angle-down"></i>
												<ul>
													<li><a href="services.html">Todos</a></li>
													<li><a href="stress-management.html">Psicoterapia </a></li>
													<li><a href="depression-treatment.html">Depression Therapy</a></li>
													<li><a href="couple-counselling.html">Couple Counselling</a></li>
													<li><a href="anxiety-treatment.html">Anxiety Treatment</a></li>
													<li><a href="elderly-issues.html">Elderly Couple Issues</a></li>
													<li><a href="therapy-for-children.html">Therapy for Children</a></li>
													<li><a href="family-psycology.html">Family Psycology</a></li>
													<li><a href="gruop-therapy.html">Group Therapy</a></li>
												</ul>-->
											</li>
											<li><%= link_to("SOBRE", site_home_path(:anchor => "professional")) %>
												<!--<i class="fa fa-angle-down"></i>
												<ul>
													<li><a href="#">Our Introduction</a></li>
													<li><a href="counsellors.html">Counsellors</a></li>
													<li><a href="#">Doctor Profile</a></li>
													<li>
														<a href="gallery.html">Gallery</a>
														<i class="fa fa-angle-right"></i>
														<ul>
															<li><a href="gallery.html">Gallery Classic</a></li>
															<li><a href="gallery-fluid.html">Gallery Full Screen</a></li>
														</ul>
													</li>
												</ul>-->
											</li>
											<li><%= link_to blog_home_path do %> Blog <% end %>
												<!--<i class="fa fa-angle-down"></i>
												<ul>
													<li><a href="blog.html">Blog</a></li>
													<li><a href="blog-details.html">Blog Details</a></li>
												</ul>-->
											</li>
											<li><%= link_to("CONTATO", site_home_path(:anchor => "contato")) %></li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- 	 Menu-END 	-->
						</div>
            		</div>
            	</div>
            </div>
        </header>
		<!-- Header-END -->
     	<div class="headerClearFix"></div>


		 <%= render partial: 'site/home/shared/send_mail' %>
		 <% flash.each do |key, value| %>
			<script>
				$.notify("<%= value %>", "info")
			</script>
		<% end %>