<!-- 	Loader-START 	-->
    <div id="loader-wrapper"></div>
    <!-- 	Loader-END 	-->

    <div id="content-block">

    <!-- Header-START -->
        <header>
            <div class="container">
            	<div class="row">
            		<div class="col-xs-12">
            			<!-- 	Header more info-START 	-->
						<div class="headerMoreInfo">
							<!--  	Phone block-START 	-->
							<div class="phoneBlock">
								<i class="flatIcon Fphone2"><%= image_tag("phone-call.png", :alt => "Contato") %></i>
								<p>Whatsapp</p>
								<h5 class="h5 as"><a><%= @settings.phone %></a></h5>
							</div>
							<!--  	Phone block-END 	-->
							<%#= link_to("Agendar", site_home_path(:anchor => "contato"), :class => "button btnSize1") %>
							<%= link_to "https://api.whatsapp.com/send?1=pt_BR&phone=55#{@whatsapp}", class:"button", :target => "_blank", rel:"offline-resource" do %>Fale comigo<% end %>
						</div>
						<!-- 	Header more info-END 	-->

						<div class="responsiveSrollWrapper">
							<!-- 	Header top-START 	-->
							<div class="headerTopInfo">
								<div class="headerTopInfoContaner">
									<!-- 	Logo-START 	-->
									<%= link_to root_url, class:"logo" do %>
										<%= image_tag @settings.picture.url(:medium) %>
									<% end %>
									<!-- 	Logo-END 	-->

									<!-- 	Responsive menu-START 	-->
									<div class="menuIcon"> 
										<span></span> 
										<span></span> 
										<span></span> 
										<span></span> 
									</div>
									<!-- 	Responsive menu-END 	-->
								</div>
							</div>
							<!-- 	Header top-END 	-->

							<!-- 	 Menu-START 	-->
							<div class="responsiveWrapper">
								<div class="navScroll">
									<nav>
										<ul id="top-menu">
											<li><%= active_link_to 'Início', site_home_path(:anchor => "home"), wrap_tag: :li %>
											<!--<i class="fa fa-angle-down"></i>
												<ul>
													<li><a href="index-3.html">Home Page 2</a></li>
													<li><a href="index-4.html">Home Page 3</a></li>
													<li><a href="index-5.html">Home Page 4</a></li>
													<li><a href="index-6.html">Home Page 5</a></li>
													</ul>-->

											</li>
											<li><%= active_link_to 'Blog', blog_root_path, wrap_tag: :li %></li>
											<li><%= link_to("SOBRE", site_home_path(:anchor => "professional")) %></li>
											<li><%= link_to("SERVIÇOS", site_home_path(:anchor => "services")) %></li>
											<% if Course.where(:is_active => "Ativo").count > 0 %>
												<li><%= active_link_to 'Cursos', site_courses_path, wrap_tag: :li %></li>
											<% end %>
											
											<% if (Download.where(:is_active => "Ativo").count > 0) || (PsiTest.where(:is_active => "Ativo").count > 0) %>
												<li><a>Gratuitos</a>
													<i class="fa fa-angle-down"></i>
													<ul>
														<% if Download.where(:is_active => "Ativo").count > 0 %>
															<li><%= link_to 'Downloads', site_downloads_path, wrap_tag: :li %></li>
														<% end %>
														<% if PsiTest.where(:is_active => "Ativo").count > 0 %>
															<li><%= link_to 'Testes', site_psi_tests_path, wrap_tag: :li %></li>
														<% end %>													
													</ul>
												</li>
											<% end %>
											<li><%= link_to("CONTATO", site_home_path(:anchor => "contato")) %></li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- 	 Menu-END 	-->
						</div>
            		</div>
            	</div>
            </div>
        </header>
		<!-- Header-END -->
     	<div class="headerClearFix"></div>


		 <%= render partial: 'site/home/shared/send_mail' %>
		 <% flash.each do |key, value| %>
			<script>
				$.notify("<%= value %>", "info")
			</script>
		<% end %>