<h1 class="page-header">Dúvidas Frequentes</h1>
<div class="panel panel-default" >
    <div class="panel-heading">
        Listando Dúvidas Frequentes <span class="badge badge-light"><%= @contador.count %></span>
        <%= link_to new_backoffice_question_path, class: "btn btn-success pull-right", style: "margin-top: -5px" do %>
            Novo Cadastro
        <% end %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Dúvidas</th>
                        <th>Respostas</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <% @questions.each do |question| %>
                        <tr>
                            <td width="3%"><%= question.id %></td>
                            <td><%= question.doubt %></td>
                            <td><%= question.answer.html_safe %></td>
                            <td width="3%">
                                <%= link_to edit_backoffice_question_path(question.id), class: "btn btn-primary btn-circle" do %>
                                    <i class="fa fa-edit"></i>
                                <% end %>
                            </td>
                            <td width="3%">
                                <%= link_to backoffice_question_path(question.id), class: "btn btn-danger btn-circle", data: {confirm: "Você realmente deseja excluir (#{question.doubt})?"}, method: :delete do  %>
                                    <i class="fa fa-trash"></i>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        </p> <center><%= paginate @questions %></center>
    </div>
    <!-- /.panel-body -->
</div>

