<h1 class="page-header">Configurações</h1>
<% if @setting.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <!-- message -->
    <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>
<div class="panel panel-default" >
    <div class="panel-heading">
        Editando Configurações
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
            <%= form_for([:backoffice, @setting]) do |f| %>
            <div class="form-group">
                <label>Email</label>
                <%= f.text_field :email, class:"form-control", placeholder:"Email para contato disponível no site" %>
            </div>
            <div class="form-group">
                <label>Telefone</label>
                <%= f.text_field :phone, class:"form-control", placeholder:"Telefone para contato disponível no site" %>
            </div>
            <div class="form-group">
                <label>Facebook</label>
                <%= f.text_field :facebook, class:"form-control", placeholder:"Ex.: https://www.facebook.com/zuck" %>
            </div>
            <div class="form-group">
                <label>Instagram</label>
                <%= f.text_field :instagram, class:"form-control", placeholder:"Ex.: https://www.instagram.com/mikeyk/" %>
            </div>
            <div class="form-group">
                <label>Twitter</label>
                <%= f.text_field :twitter, class:"form-control", placeholder:"Ex.: https://twitter.com/CreatorOfTwitt" %>
            </div>
            <div class="form-group">
                <label>LinkedIn</label>
                <%= f.text_field :linkedin, class:"form-control", placeholder:"Ex.: https://www.linkedin.com/in/jeffweiner08/" %>
            </div>
            <div class="form-group">
                <label>Logo Topo (295px X 43px)</label>
                <p><%= image_tag @setting.picture.url(:thumb) %></p>
                <%= f.file_field :picture, class:"form-control", placeholder:"Imagem" %>
            </div>
            <div class="form-group">
                <label>Logo Rodapé (295px X 43px)</label>
                <p><%= image_tag @setting.picture_footer.url(:thumb) %></p>
                <%= f.file_field :picture_footer, class:"form-control", placeholder:"Imagem" %>
            </div>
            <button type="submit" class="btn btn-default">Cadastrar</button>
            <% end %>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /panel panel-default -->
