<h1 class="page-header">Cursos</h1>
<div class="panel panel-default" >
    <div class="panel-heading">
        Listando Cursos <span class="badge badge-light"><%= @courses.count %></span>
        <%= link_to new_backoffice_course_path, class: "btn btn-success pull-right", style: "margin-top: -5px" do %>
            Novo Cadastro
        <% end %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <!-- <th>#</th> -->
                        <th>Status</th>
                        <th>Título</th>
                        <th>Preço</th>
                        <th>Link de venda</th>
                        <th>Descrição</th>
                        <th>Categoria</th>

                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <% @courses.each do |course| %>
                        <tr>
                            <!-- <td width="3%"><%= course.id %></td> -->
                            <td>
                                <% if course.is_active.present? %>
                                    <%= course.is_active %>
                                <% else %>
                                    Não definido
                                <% end %>
                            </td>
                            <td><%= course.title %></td>
                            <td>R$<%= course.price %></td>
                            <td><%= course.link_sale %></td>
                            <td><%= course.description.truncate(60).html_safe %></td>
                            <td><%= course.category_course.name %></td>
                            <td width="3%">
                                <%= link_to edit_backoffice_course_path(course.id), class: "btn btn-primary btn-circle" do %>
                                    <i class="fa fa-edit"></i>
                                <% end %>
                            </td>
                            <td width="3%">
                                <%= link_to backoffice_course_path(course.id), class: "btn btn-danger btn-circle", data: {confirm: "Você realmente deseja excluir o curso (#{course.title})?"}, method: :delete do  %>
                                    <i class="fa fa-trash"></i>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        </p> <center><%= paginate @courses %></center>
    </div>
    <!-- /.panel-body -->
</div>

