    
        
    <div id="home">
		<% if @flags.blank? %>
			<p> </p>
		<% else %>
			<!-- 	Main banner swiper-START 	-->
			<div class="swiperMainWrapper mainSwiperbanner">
				<!-- 	Swiper slider buttons-START 	-->
				<div class="swipert-black-button swiper-button-prev"></div>
				<div class="swipert-black-button swiper-button-next"></div>
				<!-- 	Swiper slider buttons-END 	-->
				<div class="swiper-container" data-auto-height="1" data-effect="fadde" data-speed="600" data-autoplay="5000" data-loop="1">
					<div class="swiper-wrapper">
						<% @flags.each do |flag| %>
						<!-- 	Slide1-START 	-->
						<div class="swiper-slide mainBanner bgShadow">
							<% if flag.picture.blank? %>
								<div class="sliderBg" style="background-image: url(/banners/bannerdefault.jpg)"></div>
							<% else %>
								<div class="sliderBg" style="background-image: url(<%= flag.picture.url(:medium) %>)"></div>
							<% end %>
							<div class="container">
								<div class="row">
									<div class="col-xs-12 col-md-10 col-md-offset-1">
										<div class="cell-view">
											<div class="bannerTitle">
												<h1 class="h1 light as"><%= flag.title %></h1>
												<p><%= flag.description.html_safe %></p>
											</div>
											<div class="bannerBtnWrapper">
												<!--<a href="#" class="button btnSize1">View all Services</a>
												<a href="#" class="button btnStyle3 btnSize1">Get Appointment</a>-->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 	Slide1-END 	--> 
						<% end %>
					</div>
				</div>
			</div>
		<!-- 	Main banner swiper-END 	-->
		<% end %>
	</div>

		<!-- 	Last news-START 	-->
	<% if @posts.blank? %>
		<p> </p>
	<% else %>
		<div class="contentPadding">
			<div class="container">
				<div class="row">
						<div class="col-xs-12">
							<div class="contentTitle normall">
							<h3 class="h3 as"><%= link_to blog_root_path do %>Blog<% end %></h3>
						</div>
						</div>
					<!-- 	News1-START 	-->
					<% @posts.each do |post| %>
						<div class="col-xs-12 col-sm-4">
							<div class="tumbWrapper style2">
								<div class="imgWrapper">
									<%= image_tag post.picture.url(:medium) %>
									<div class="timeBlock"><%= l(post.post_date) %></div>
								</div>
								<h6 class="h6 as"><%= link_to blog_post_path(post.slug) do %><%= post.title %><% end %></h6>
								<div class="tumbContent small">
									<p><%= post.body.truncate(290, omission: '...').html_safe %></p>
								</div>
								<% if post.body.length >= 290 %>
									<%= link_to blog_post_path(post.slug), :class=>'readMore' do %> ...Continuar Lendo <% end %>
								<% end %>
							</div>
							<div class="emptySpace-xs30"></div>
						</div>
					<% end %>
					<!-- 	News1-END 	-->
				</div>
			</div>
		</div>
	<% end %>
	<!-- 	Last news-END 	-->

	<!-- 	Persone banner-START 	-->
    <% if @professionals.blank? %>
     <p></p>
    <% else %>
      <% @professionals.each do |professional| %>
        <div class="personeBg">
          <div class="bg" style="background-image: url(<%= asset_path 'img/persone-bg.jpg' %>)" id="professional">
            <div class="container">
              <div class="row verAlignResponsive">
                <div class="imgWrapper personeImg">
                  <%= image_tag professional.picture.url(:medium) %>
                </div>
                <div class="col-sm-6 col-sm-offset-6">
                  <div class="personeWrapper large">
                    <h2 class="h2 light as"><%= professional.name %></h2>
                    <p><%= professional.title %></br>CRP - <%= professional.number %></p>
                    <div class="simple-article normall extraLight">
                      <p><%= professional.description.html_safe %></p>
                    </div>
                    <div class="emptySpace25"></div>
                    <div class="personePhone">
                      <div class="imgWrapper">
                        <i class=""><%= image_tag("phone-call-white.png", :alt => "Contato", class: "img-responsive") %></i>
                      </div>
                      <div class="personePhoneContent">
                        <%= link_to "https://api.whatsapp.com/send?1=pt_BR&phone=55#{@whatsapp2}", :target => "_blank", rel:"offline-resource" do %><%= professional.phone %><% end %>
                        <span>Entre em contato</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
	<!-- 	Persone banner-END 	-->
    	
	<!--  	Offer Servicres-START 	-->
	<div class="contentPadding" id="services">
		<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="contentTitle normall">
								<h2 class="h2 as">Serviços <span>Oferecidos</span></h2>
								<p>Saiba um pouco mais sobre os meus serviços.</p>
							</div>
							<div class="emptySpace50 emptySpace-xs30"></div>
						</div>
					</div>
					<div class="row clearFix big">
						<!-- 	Tumb1-START 	-->
						<% if @services.blank? %>
							<p> </p>
						<% else %>
							<% @services.each do |service| %>
								<div class="col-xs-12 col-sm-6 col-md-3">
									<div class="tumbWrapper">
										<div class="imgWrapper imgTumb bgShadow light">
											<%= image_tag service.picture.url(:medium) %>
										</div>
										<h6 class="h6 as"><%= service.title %></h6>
										<div class="tumbContent small truncate">
												<p><%= service.description.html_safe %></p>
										</div>
									</div>
									<div class="emptySpace90 emptySpace-md30"></div>
								</div>
							<% end %>
						<% end %>
						<!-- 	Tumb1-END 	-->
					</div>
				</div>
	</div>
	<!--  	Offer Servicres-END 	-->
	
	<!-- 	Abot us-START 	-->
	<div class="contentPadding">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="aboutUs">
						<% if @projects.blank? && @works.blank? %>
							<p></p>
						<% else %>
						<div class="row">
							<div class="col-xs-12">
								<div class="titleShortocode">
									<h3 class="h3 as">Experiências</h3>
								</div>
								<div class="emptySpace40 emptySpace-xs30"></div>
							</div>
						</div>
						<% end %>
						<% if @projects.blank? %>
								<p> </p>
						<% else %>
							<p><strong>Projetos e Atividades desenvolvidos:</strong></p>
							<div class="simple-article normall">
								<p><%= @projects.last.description.html_safe %></p>
							</div>
							<div class="emptySpace30"></div>
						<% end %>
						<% if @works.blank? %>
							<p></p>
						<% else %>
						<p><strong>Atuações profissionais:</strong></p>
						<div class="row">
							<div class="col-xs-12 col-sm-12">
								<div class="openingHours">
									<ul class="normall">
										<table class="table">
											<thead>
												<tr>
													<th scope="col"><strong>Local</strong></th>
													<th scope="col"><strong>Cargo</strong></th>
												</tr>
											</thead>
											<tbody>
												<% @works.each do |work| %>
												<tr>
													<td><%= work.company %></td>
													<td><%= work.role %></td>
												</tr>
												<% end %>
											</tbody>
										</table>
									</ul>
								</div>
							</div>
						</div>
						<% end %>
					</div>
					<div class="emptySpace-xs30"></div>
				</div>
				<div class="col-sm-6">
					<div class="titleShortocode">
						<h3 class="h3 as">Dúvidas Frequentes</h3>
					</div>
						<div class="emptySpace40 emptySpace-xs30"></div>
					<!-- 	Accordeon-START 	-->
					<div class="accordeon normall">
						<% if @questions.blank?%>
							<p> </p>
						<% else%>
							<% firstquestion = @questions.first.doubt %>
							<% @questions.each do |question| %>
								<% if question.doubt == firstquestion %>
									<div class="accordeon-title active">
										<div class="accrodeonButton"><span></span><span></span></div>
										<%= question.doubt %>
									</div>
									<div class="accordeon-toggle" style="display: block;">
										<div class="simple-article">
											<p><%= question.answer.html_safe %></p>
										</div>
									</div>
								<% else %>
									<div class="emptySpace20"></div>
									<div class="accordeon-title">
										<div class="accrodeonButton"><span></span><span></span></div>
										<%= question.doubt %>
									</div>
									<div class="accordeon-toggle">
										<div class="simple-article">
											<p><%= question.answer.html_safe %></p>
										</div>
									</div>
								<% end %>
							<% end %>
						<% end %>
					</div>
					<!-- 	Accordeon-END 	-->
				</div>
			</div>
		</div>
	</div>
	<!-- 	Abot us-END 	-->
	
	<!-- 	Health Insurance-START 	-->
	<% if @health_insurances.blank? %>
		<p> </p>
	<% else %>
		<div class="contentPadding grey">
			<div class="container">
				<div class="row">
					<!-- 	persone1-START 	-->
					<div class="col-xs-12 col-sm-5 col-md-3">
						<div class="titleShortocode">
							<h3 class="h3 as">Convênios</h3>
							<div class="emptySpace30"></div>
							<div class="simple-article normall">
								<p> </p>
							</div>
						</div>
						<div class="emptySpace-sm30"></div>
					</div>
					<!-- 	persone1-END 	-->
					
					<div class="swiperMainWrapper ourTeamSlider">
						<div class="swipert-black-button swiper-button-prev"></div>
						<div class="swipert-black-button swiper-button-next"></div>
						<div class="swiper-container" data-breakpoints="1" data-xs-slides="1" data-sm-slides="2" data-md-slides="4" data-slides-per-view="4" data-space="30">
							<div class="swiper-wrapper">
								<% @health_insurances.each do |health_insurance| %>
									<!--    Slider1-START   -->
									<div class="swiper-slide"> 
										<div class="tumbWrapper persone">
											<a href="counsellors.html" class="imgWrapper imgTumb ">
												<%= image_tag health_insurance.picture.url(:medium) %>
											</a>
											<div class="blockContent">
												<a href="counsellors.html"><%= health_insurance.name %></a>
												<p> </p>
											</div>
										</div>
									</div>
									<!--    Slider1-END     -->
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<!-- 	Health Insurance-END 	-->
	
	<!-- 	Request-START 	-->
	
	<div class="contentPadding grey colorBlack" id="contato">
		<div class="contactBg bgShadow style2" style="background-image: url(<%= asset_path 'bg_endereco.jpg' %>)"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="contactContent">
						<div class="simple-article light large">
							<p>Endereços & Horários de Atendimentos:</p>
						</div>
					</div>
					<% if @diaries.blank? %>
						<p> </p>
					<% else %>
						<% @diaries.each do |diary| %>
							<div class="emptySpace30"></div>
							<div class="contactContent normall">
								<span><u><%= diary.name %></u></span></br>
								<p><%= diary.address %></p></br>
								<p><span>Telefone:</span> <%= diary.phone %></p>
								<div class="emptySpace5"></div>
								<span><%= diary.week %></span> <p><%= diary.start_time.strftime("%H:%M") %> às <%= diary.end_time.strftime("%H:%M") %></p>
							</div>

							<div class="emptySpace-xs30"></div>
						<% end %>
					<% end %>
				</div>
				<div class="col-sm-6 col-sm-offset-2">
					<%= form_tag site_send_mail_index_path, class: "requestForm", remote: true, :id => "formmail" do %>
						<div class="contentTitle">
							<h3 class="h3 as">Enviar <span>Mensagem</span></h3>
						</div>
						<div class="emptySpace15"></div>
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<!--<input class="simple-input" type="text" value="" placeholder="Nome Completo" />-->
								<%= text_field_tag(:'name-text', nil, class:'simple-input', placeholder:'Nome Completo') %>
								<div class="emptySpace15"></div>
							</div>
							<div class="col-xs-12 col-md-6">
								<!--<input class="simple-input" type="email" value="" placeholder="Email" />-->
								<%= email_field_tag(:'recipient-text', nil, class:'simple-input', placeholder:'Email') %>
								<div class="emptySpace15"></div>
							</div>
							<div class="col-xs-12 col-md-6">
								<!--<input class="simple-input" type="text" value="" placeholder="Telefone" />-->
								<%= text_field_tag(:'phone-text', nil, class:'simple-input', placeholder:'Telefone') %>
								<div class="emptySpace15"></div>
							</div>
							<div class="col-xs-12 col-md-6">
								<!-- 	SumoSelect-START 	-->
								<div class="sumoWrapper">
									<%= select_tag :'subject-text', "<option selected disabled>Assunto</option><option>Agendamento</option><option>D&uacute;vidas</option><option>Outros</option>".html_safe, class: 'SelectBox', id: 'subject-text' %>
								</div>
								<!-- 	SumoSelect-END 	-->
								<div class="emptySpace-sm15"></div>
							</div>
							<div class="col-xs-12">
								<%= text_area_tag(:'message-text', nil, class:'simple-input', placeholder:'Texto') %>
								<!--<textarea class="simple-input" placeholder="Texto"></textarea>-->
							</div>
							<%= recaptcha_tags %>
						</div>
						<div class="emptySpace30"></div>
						<div class="btnWrapper">
							<button type="submit" class="button">Enviar</button>
						</div>
						<%#= recaptcha_tags %>
						<div class="btnWrapper">
							<div id="enviado"><p><center></center></p></div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<!-- 	Request-END 	-->

