<h1 class="page-header">Banners</h1>
<% if @flag.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <!-- message -->
    <ul>
      <% @flag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>
<div class="panel panel-default" >
    <div class="panel-heading">
        <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
            <%= form_for([:backoffice, @flag]) do |f| %>
            <div class="form-group">
                <label>Status</label>
                <%= f.select(:is_active, @active_options_for_select, {}, {:class =>"form-control", :tabindex => "-1"}) %>
            </div>
            <div class="form-group">
                <label>Título</label>
                <%= f.text_field :title, class:"form-control", placeholder:"Título do banner" %>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <%= f.text_field :description, class:"form-control tinymce", placeholder:"Descrição (abaixo do título)" %>
            </div>
            <div class="form-group">
                <label>Link</label>
                <%= f.text_field :link_flag, class:"form-control", placeholder:"Ex.: http://www.google.com.br" %>
            </div>
            <div class="form-group">
                <label>Nome do botão (link)</label>
                <%= f.text_field :link_name, class:"form-control", placeholder:"Ex.: Baixar agora" %>
            </div>
            <div class="form-group">
                <label>Link Target</label>
                <%= f.select(:target_link, @target_link_options_for_select, {prompt: "Escolha uma opção"}, {:class =>"form-control", :tabindex => "-1"}) %>
            </div>
            <div class="form-group">
                <label>Imagem (1920px X 748px)</label>
                <%= f.file_field :picture, class:"form-control", placeholder:"Imagem" %>
            </div>
            <button type="submit" class="btn btn-default">Cadastrar</button>
            <% end %>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /panel panel-default -->
