<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= tinymce_assets %>
    <%= favicon_link_tag 'favicon.ico' %>

    <title>Zara Barbosa - Psicóloga | Painel de Administração</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'backoffice', media: 'all' %>
    <%# <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"> %>

    <%= csrf_meta_tags %>

  </head>

  <body class="nav-md">
      <div id="wrapper">
        <%= render partial: "layouts/backoffice_shared/navigation" %>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <%= yield %>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
      </div>
    <!-- /#wrapper -->
    
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'backoffice' %>
    <%#= javascript_include_tag 'tinymce/langs/pt.js' %>
    <%= tinymce %>
    

    <%= render partial: 'layouts/shared/notifications'  %>
  </body>
</html>